name: Run Project Tests 

on:
  # When someone makes a new PR or reopens an old PR, run the tests again
  pull_request:
    types: [opened, reopened]

  # When manually requested, run the tests again (useful for workflow development!)
  workflow_dispatch:

env:
  MONGODB_URL: mongodb://localhost:27017/example-database-name


jobs:
  
  test_runner:
    runs-on: ubuntu-latest

    # Not using this but just to show env variables 
    env: 
      EXAMPLE_ENV: "bananas"
      
    services:
      mongo:
        image: mongo
        ports:
          # exposedPort:internalPort
          - 27017:27017

    steps: 
      - name: Checkout or clone a copy of the repo to the action runner
        uses: actions/checkout@v6

      - name: Install dependencies! 
        run: npm install

      - name: Run the tests
        run: npm run test
      
      - name: Log of the example env variable 
        run: echo "${{ env.EXAMPLE_ENV }}"

      - name: Log of MONGODB_URL
        run: echo "${{ env.MONGODB_URL }}"
  
  second_job:
    runs-on: ubuntu-latest
    env:
      EXAMPLE_ENV: "mango"
    outputs:
      favouriteFruit: ${{ steps.favouriteFruitPicker.outputs.result }}
    steps:
      - name: Log of the example env variable 
        run: echo "${{ env.EXAMPLE_ENV }}"
      - name: Figure out the favourite fruit
        id: favouriteFruitPicker
        run: echo "result=${{env.EXAMPLE_ENV}}" >> "$GITHUB_OUTPUT"
      # you should name your steps! 
      # - run: 

  third_job:
    needs: [second_job]
    runs-on: ubuntu-latest
    env:
      EXAMPLE_ENV: "third"
      
    steps:
      - name: Log of the example env variable 
        run: echo "${{ env.EXAMPLE_ENV }}"
      # you should name your steps! 
      # - run: 
      - name: Checkout or clone a copy of the repo to the action runner
        uses: actions/checkout@v6

      - name: Confirm the outputs from second job
        run: echo "${{needs.second_job.result}} ${{needs.second_job.outputs.favouriteFruit}}"
  
  fourth_job:
    needs: [third_job, test_runner]
    uses: ./.github/workflows/callable-workflow.yml

